.banner {
    width: 100%;
    margin: -4% 0 -4% 0;
}

.fondoBanner {
    background: #3B3B3B;
}

.paragraphgray {
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 14px;
}

input {
    height: 30px;
    background: url("../assets/images/musica-searcher.png") no-repeat scroll 0 0 transparent;
    background-size: 8%;
    background-position: right;
    padding-left: 2%;
}

.header {
    background-color: white;
    text-align: right;
}

.ilogo {
    width: 90%;
    height: 3em;
}

.paragraphleft {
    text-align: left;
}

.input {
    text-align: center;
}

.sidebarGray {
    background-color: #3B3B3B;
}

hr {
    width: 100%;
    margin-bottom: 2em;
}


}
.columnav {}
.bh6 {
    color: white;
}
button {
    border: none;
    border: 1px #00E164 solid;
    border-radius: 2%;
    background: none;
    color: white;
}
h2 {
    font-size: 2.5em;
    color: #D2D2D2;
}
.big-hero {
    background-color: none;
    padding-top: 1em;
}
.buttonAge {
    border: none;
    border: 1px #00E164 solid;
    border-radius: 10%;
    padding: 3%;
    color: #00E164;
    margin-right: 1em;
}
.dos-columnas .columna {
    background-color: transparent;
    padding: 0;
    color: white;
}
.whatch {
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-color: #DEBF16;
    border: none;
}
.book {
    margin-bottom: 0;
    background-color: #BF7D14;
    border: none;
    font-weight: bold;
}
.imageSmall {
    width: 12em;
    height: 14em;
}
.imageSmalls {
    background-color: #DEBF16;
}
.imageSmallSecond {
    height: 18em;
    width: 100%;
}
.paragraph p {
    color: gray;
    font-size: 0.8em;
    padding-left: 8em;
}
.columnGray {
    background-color: #F5F5F5;
    padding-bottom: 2em;
}
.gray {
    color: gray;
}
.grayB {
    color: gray;
    display: block;
}
.buttonBrown {
    background-color: #BF7D14;
    border: none;
    width: 60%;
    height: 4em;
    border-radius: 2%;
}
.buttonBrown2 {
    background-color: #BF7D14;
    border: none;
    width: 30%;
    height: 4em;
    border-radius: 2%;
}
li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.black {
    color: black;
}
.brown {
    color: #BF7D14;
    font-size: 0.8em;
}
li {
    list-style: none;
}
p {
    padding: 0;
    font-size: 0.8em;
    line-height: 2em;
    display: inline;
    color: black;
}
.space {
    padding-right: 0;
    margin-right: 0;
}
span {
    font-size: 0.8em;
}
.ratting {
    padding-left: 6em;
}
.notGreen {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.espacio {
    line-height: 0.7em;
}
.padding {
    margin: 0;
}
.black {
    color: black;
    background-color: transparent;
}
.white {
    color: white;
    background-color: transparent;
}
.all {
    margin-top: -3em;
}
button:hover {
    cursor: pointer;
}
.gray {
    color: gray;
}
.buttonYellow {
    background-color: #F9DA42;
    border: none;
    width: 60%;
    height: 4em;
}
.capa1 {
    width: 6%;
    z-index: 10;
    position: absolute;
    bottom: 40%;
    left: 25%;
}
.capa2 {
    z-index: -10;
}
.divBanner {
    position: relative;
}
.rowColor {
    background-color: #DEBF16;
}
.titulo {
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.titulo2 {
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.fSize {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.small {
    display: block;
    padding: 0;
    margin: 0;
}
.interlineado {
    line-height: 1.2em;
}
.hrColor {
    color: #9E9E9E;
}
.orange {
    color: #DEBF16;
    font-weight: bold;
    margin: 0;
}
.orange:hover {
    cursor: pointer;
}
footer {
    padding-top: 1em;
    background-color: #C4C4C4;
    height: 15em;
}
.newLine {
    line-height: 1.2em;
}
.newLine {
    line-height: 0.1em;
}
